<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <link rel="Shortcut Icon" type="image/x-icon" href="https://raw.githubusercontent.com/jwc911037/jwcbot/master/img/favicon.ico"/>
    <title>MikeBot</title>
</head>
<body>
    <h2>MikeBot Demo</h2>
</body>
</html>
