<!DOCTYPE HTML>
<html>
<head>
<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
        Smooch.init({appToken: '{{appToken}}' });
</script>
<script src="https://use.fontawesome.com/2cf0b514ba.js"></script>
<link rel="Shortcut Icon" type="image/x-icon" href="https://raw.githubusercontent.com/jwc911037/jwcbot/master/img/icon.png"/>
<title>MikeBot</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mike, Jen-Wei,Cheng, Smooch, Bot, ChatBot" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery-1.11.1.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="https://raw.githubusercontent.com/jwc911037/jwcbot/master/js/move-top.js"></script>
<script type="text/javascript" src="https://raw.githubusercontent.com/jwc911037/jwcbot/master/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->

</head>
<body>
		<!--start-header-section-->
			<div class="header-section">
				<div class="continer">
					<img src="https://raw.githubusercontent.com/jwc911037/jwcbot/master/img/profile.png">
						<h1>hello..<span>!</span></h1>
							<p>This is the page for Mike Cheng and MikeBot.
							<br>Click the icon on the bottom right to chat with MikeBot to learn more..</p>
							<a href="#contact" class="scroll top"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
				</div>
			</div>
		<!--end header-section-->
			<!--start-study-section-->
			<div class="study-section">
				<div class="container">
					<div class="study-grids">
						<div class="col-md-6 study-grid">
						<h3>study..<span>!</span></h3>
						<div class="study1">
							<p>Tainan Municipal Dacheng Junior High School<label>(2010-2012)</label></p>
							<p>National Tainan Second Senior High School<label>(2012-2014)</label></p>
							<p>National Cheng Kung University<label>(2015-2016)</label><br>&nbsp;&nbsp;-majored in Industrial & Information Management</p>
							<p>National University of Kaohsiung<label>(2014- )</label><br>&nbsp;&nbsp;-majored in Information Management</p>
						</div>
						</div>
						<div class="col-md-6 study-grid">
						<h3>skills..<span>!</span></h3>
						<div class="study2">
						<h4>PHP</h4>
							<div class="progress">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
								<span class="sr-only">50% Complete (success)</span>
							  </div>
							</div>
						<h4>Python</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
							<span class="sr-only">40% Complete</span>
						  </div>
						</div>
						<h4>Machine Learning</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							<span class="sr-only">60% Complete (warning)</span>
						  </div>
						</div>
						<h4>Database Management<h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
						</div>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--end study-section-->
			<!--start-services-section-->
			<div class="service-section" id="service">
				<div class="container">

		<div class="service-grids">
							<div class="col-md-4 service-grid">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size :65pt"></span>
								<h4>NOW</h4>
								<span></span>
								<p><b>A senior in NUK, doing the graduate project, and planing to do a Master's degree.After graduating from the college, I'll continue to train MikeBot how to speak like a human here.</b></p>
							</div>
							<div class="col-md-4 service-grid">
								<span class="glyphicon glyphicon-education" aria-hidden="true" style="font-size :65pt"></span>
								<h4>INTREST FIELD</h4>
								<span> </span>
								<p> <b>
									Artificial intelligence <br>	
									Machine Learning <br>
									Database Management <br>
									Internet Security
									</b>
								</p>
							</div>
							<div class="col-md-4 service-grid">
								<span class="glyphicon glyphicon-send" aria-hidden="true" style="font-size :65pt"></span>
								<h4>ABOUT MIKEBOT</h4>
								<p><b>Learning ideas from <a href="http://www.estherbot.com/">EstherBot</a>. Now he can chat with you with specific command, introducing me and hiself, and teach you to build a bot like him.</b></p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
					<!--end services-section-->
					<!--start-social-section-->
				<div class="social-icons">
				<h3>Social Network</h3>
			<div class="container">
					<div class="service-section" id="service">
				<div class="container">

		<div class="service-grids">
							<div class="col-md-4 service-grid">
									<a href="https://www.facebook.com/MikeBot-1717053945216268/"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size :65pt"></i></a>
								<h4>MIKEBOT PAGE</h4>
								<span></span>
								<p><b>The page about MikeBot latest status</b></p>
							</div>
							<div class="col-md-4 service-grid">
								<a href="https://www.pinterest.com/jenweic/"><i class="fa fa-pinterest" aria-hidden="true" style="font-size :65pt"></i></a>

								<h4>PINTREST</h4>
								<p><b>My board of sharing Japanese figures, plastic models, and other ideas about robots</b></p>
							</div>
							<div class="col-md-4 service-grid">
								<a href="mailto:jwc911037@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="font-size :65pt"></i></a>

								<h4>CONTACT ME</h4>
								<span> </span>
								<p><b>Write a mail if any questions and bugs for MikeBot</b></p>
							</div>
						
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
						
							</div>
							</div>
							<!--end-social-section-->
							
				
			<!--start-footer-section-->
			<div class="footer-section">
						<div class="container">
							<div class="footer-top">
						<p>&copy; 2016 <span>Jen-Wei, Cheng</span> All rights reserved |Template Design by <a href="http://w3layouts.com">W3layouts</a></p>
									</div>
							<script type="text/javascript">
						$(document).ready(function() {
							
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>
	<!--end-footer-section-->
<!-- Live Chat Widget powered by https://keyreply.com/chat/ -->
<!-- Advanced options: -->
<!-- data-align="left" -->
<!-- data-overlay="true" -->
<script data-align="right" data-overlay="false" id="keyreply-script" src="https://keyreply.com/chat/widget.js" data-color="#009688" data-apps="JTdCJTIybGluZSUyMjolMjJodFRwOi8vbGluZS5tZS90aS9wLyUyNTQwd2VjNDIwOHElMjIsJTIydGVsZWdyYW0lMjI6JTIyandjYm90JTIyLCUyMmZhY2Vib29rJTIyOiUyMjE3MTcwNTM5NDUyMTYyNjglMjIsJTIyZW1haWwlMjI6JTIyandjOTExMDM3QGdtYWlsLmNvbSUyMiU3RA=="></script>
</body>

</html> 
